.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 70vh;
  height: 70vh;
  position: relative;
  transition: transform 0.5s ease-in-out;
}
.chess-board > div {
  width: 100%;
  height: 100%;
}
.chess-board .white {
  background: rgb(233, 202, 135);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.chess-board .black {
  background: rgb(211, 126, 30);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.chess-board img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: all;
  user-select: none;
}

.backGround {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(143, 148, 143);
}

.chess-board.dadoVuelta {
  transform: rotateX(180deg);
}

.flipIcon {
  position: absolute;
  bottom: 0;
  background-color: transparent;
}

.btnRotate {
  background: transparent;
  border: none;
}

.icon {
  position: absolute;
  bottom: 1.5em;
}

.highlight {
  /*border: 2px solid rgb(255, 111, 0); /* Corrected color value */
  background-color: rgb(0, 255, 115); /* Corrected color value */
}

.chess-board .white.highlight {
  background-color: rgb(255, 230, 0); /* Corrected color value */
}

.chess-board .black.highlight {
  background-color: rgb(255, 230, 0); /* Corrected color value */
}
